# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# development stuff
logs/
.coverage
projdocs*
pytest.ini
.sessionrc

# live site stuff
myprojects/settings.py
static/admin
manage.py
