{% extends "base_app.html" %}
{% block content-data %}
 <form action="{{form_addr}}" method="post" enctype="multipart/form-data">
 <div class="left_view">Nummer:&nbsp;</div>
 <div class="right"><input type="text" name="nummer" id="nummer" value="{%if data%}{{ data.nummer }}{%else%}{{nummer}}{%endif%}" size="10" readonly="readonly" />
 <input type="hidden" name="datum_in" id="datum_in" value="{{ data.datum_in }}"/>
 </div><div class="clear">&nbsp;</div>
 <div class="left_edit">Korte omschrijving:&nbsp;</div>
 <div class="right"><input type="text" name="kort" id="kort" value="{{ data.kort }}" size="{{lengte.kort}}" /></div><div class="clear">&nbsp;</div>
 <div class="left_edit">Gereed:&nbsp;</div>
 <div class="right"><select name="gereed" id="gereed"><option value="0">Nee</option>
 <option value="1"{%if data.gereed%} selected="selected"{%endif%}>Ja</option></select>
 <input type="hidden" name="datum_gereed" id="datum_gereed" value="{{ data.datum_gereed }}"/></div><div class="clear">&nbsp;</div>
 <div class="left_edit">&nbsp;</div>
 <div class="right"><input type="submit" name="pbKort" id="pbKort" value="Alle wijzigingen opslaan" /></div><div class="clear">&nbsp;</div>
 <hr/>
 <div class="left_edit">Melding:&nbsp;</div>
 <div class="right"> <textarea name="melding" id="melding" rows="8" cols="80" />{{ data.melding }}</textarea></div><div class="clear">&nbsp;</div>
 <div>
 <div class="left_edit">Opmerking:&nbsp;</div>
 <div class="right"><textarea name="oplossing" id="oplossing" rows="8" cols="80" />{{ data.oplossing }}</textarea></div><div class="clear">&nbsp;</div>
 <hr/>
 </form><a href="#top">Naar het begin van de pagina</a>
{% endblock %}
