{% extends "base_app.html" %}
{% block content-data %}

<div class="left_view">Naam entiteit:&nbsp;</div>
<div class="right">{{ data.naam }}</div><div class="clear">&nbsp;</div>
<div class="left_view">Functie:&nbsp;</div>
<div class="right"><br/><br/>{{ data.functie|linebreaksbr }}</div><div class="clear">&nbsp;</div>
<div class="left_view">&nbsp;</div>
<div class="right"><a href="/{{proj}}/{{soort}}/{{ data.id }}/edit/"><input type="button" value="wijzigen"/></a></div><div class="clear">&nbsp;</div>
<hr/>
<div class="left_view">Levensloop:&nbsp;</div>
<div class="right"><br/><br/>{{ data.levensloop|linebreaksbr }}</div><div class="clear">&nbsp;</div>

{%if not new%}
    {%if attrs%}
    <div class="left_view">Attributen:&nbsp;</div>
    <div class="right">

    {%for attr in attrs%}
        <b>{{attr.naam}}</b>&nbsp;({{attr.soort}})
        {{attr.sleutel}}
        {%if attr.sleutel%}
            ,
            {%if attr.sleutel == 1%}eerste{%endif%}
            {%if attr.sleutel == 2%}tweede{%endif%}
            {%if attr.sleutel == 3%}derde{%endif%}
            {%if attr.sleutel == 4%}vierde{%endif%}
            {%if attr.sleutel == 5%}vijfde{%endif%}
            in sleutel
        {%endif%}
        {%if attr.relatie%},  is sleutel van relatie met {{attr.relatie.verbose_name}}{%endif%}
        {%if attr.omschrijving%}: {{attr.omschrijving}}{%endif%}<br/>
    {%endfor%}
    </div><div class="clear">&nbsp;</div>
    {%endif%}
{%endif%}
<hr/>
{% endblock %}
