{% extends "base_app.html" %}
{% block content-data %}

<div class="left_view">Naam entiteit:&nbsp;</div>
<div class="right">{{ data.naam }}</div><div class="clear">&nbsp;</div>
<div class="left_view">Korte omschrijving:&nbsp;</div>
<div class="right">{{ data.kort }}</div><div class="clear">&nbsp;</div>
<div class="left_view">&nbsp;</div>
<div class="right"><a href="/{{proj}}/{{soort}}/{{ data.id }}/edit/"><input type="button" value="wijzigen"/></a></div><div class="clear">&nbsp;</div>
<hr/>
<div class="left_view">Functie:&nbsp;</div>
<div class="right"><br/><br/>{{data.functie}}</div><div class="clear">&nbsp;</div>
<div class="left_view">Levensloop:&nbsp;</div>
<div class="right"><br/><br/>{{data.levensloop}}</div><div class="clear">&nbsp;</div>

{%if not new%}
    {%if attrs%}
        <div class="left_view">Attributen:&nbsp;</div>
        <div class="right">

        {%for attr in attrs%}
            <b>{{attr.naam}}</b>&nbsp;
            (
            {%if attr.type == 'A'%}Tekst{%endif%}
            {%if attr.type == 'N'%}Aantal{%endif%}
            {%if attr.type == 'D'%}Datum{%endif%}
            {%if attr.type == 'B'%}Bedrag{%endif%}
            )
            {%if attr.primarykey%}
                ,
                {%if attr.primarykey == 1%}eerste{%endif%}
                {%if attr.primarykey == 2%}tweede{%endif%}
                {%if attr.primarykey == 3%}derde{%endif%}
                {%if attr.primarykey == 4%}vierde{%endif%}
                {%if attr.primarykey == 5%}vijfde{%endif%}
                in sleutel
            {%endif%}
            {%if attr.relatie%},  is sleutel van relatie met {{attr.relatie.verbose_name}}{%endif%}
            {%if attr.bereik%}: {{attr.bereik}}{%endif%}<br/>
        {%endfor%}
        </div><div class="clear">&nbsp;</div>
    {%endif%}
<hr/>
{%endif%}
{% endblock %}
