{% extends "base_app.html" %}
{% block content-data %}
 <form action="{{form_addr}}" method="post" >
 <div class="left_view">Naam:&nbsp;</div>
 <div class="right"><input type="text" name="naam" id="naam" value="{{ data.naam }}" size="{{lengte.naam}}"  /></div><div class="clear">&nbsp;</div>
 <div class="left_edit">Doel:&nbsp;</div>
 <div class="right"><input type="text" name="doel" id="doel" value="{{ data.doel }}" size="{{lengte.doel}}"  /></div><div class="clear">&nbsp;</div>
 <div class="left_edit">&nbsp;</div>
 <div class="right"><input type="submit" name="pbKort" id="pbKort" value="Alle wijzigingen opslaan" /></div><div class="clear">&nbsp;</div>
 <hr/>
 <div class="left_edit">Uitgangssituatie(s):&nbsp;</div>
 <div class="right"><textarea name="invoer" id="invoer" rows="8" cols="80" />{{ data.invoer }}</textarea></div><div class="clear">&nbsp;</div>
 <hr/>
 <div class="left_edit">Resultaatsituatie(s)&nbsp;<br/>en -product(en):&nbsp;</div>
 <div class="right"><textarea name="uitvoer" id="uitvoer" rows="8" cols="80" />{{ data.uitvoer }}</textarea></div><div class="clear">&nbsp;</div>
 <hr/>
 <div class="left_edit">Beschrijving:&nbsp;</div>
 <div class="right"><textarea name="beschrijving" id="beschrijving" rows="8" cols="80" />{{ data.beschrijving }}</textarea></div><div class="clear">&nbsp;</div>
 <hr/>
 </form><a href="#top">Naar het begin van de pagina</a>
{% endblock %}
