{% extends "base_app.html" %}
{% block content-data %}
 <form action="{{form_addr}}" method="post" >{% csrf_token %}
 <div class="left_view">Naam:&nbsp;</div>
 <div class="right"><input type="text" name="naam" id="naam" value="{{ data.naam }}" size="{{lengte.naam}}" /></div><div class="clear">&nbsp;</div>
 <div class="left_edit">Doel:&nbsp;</div>
 <div class="right"><input type="text" name="doel" id="doel" value="{{ data.doel }}" size="{{lengte.doel}}"  /></div><div class="clear">&nbsp;</div>
 <div class="left_edit">&nbsp;</div>
 <div class="right"><input type="submit" name="pbKort" id="pbKort" value="Alle wijzigingen opslaan" />
<hr/>
 <div class="left_edit">Wanneer/hoe vaak uitvoeren:&nbsp;</div>
 <div class="right"><textarea name="wanneer" id="wanneer" rows="8" cols="80" />{{ data.wanneer }}</textarea></div><div class="clear">&nbsp;</div>
 <hr/>
 <div class="left_edit">Wie mag/moet dit uitvoeren:&nbsp;</div>
 <div class="right"><textarea name="wie" id="wie" rows="8" cols="80" />{{ data.wie }}</textarea></div><div class="clear">&nbsp;</div>
 <hr/>
 <div class="left_edit">Waarvoor dient het uitvoeren:&nbsp;</div>
 <div class="right"><textarea name="waarvoor" id="waarvoor" rows="8" cols="80" />{{ data.waarvoor }}</textarea></div><div class="clear">&nbsp;</div>
 <hr/>
 <div class="left_edit">Onder welke voorwaarden:&nbsp;</div>
 <div class="right"><textarea name="condities" id="condities" rows="8" cols="80" />{{ data.condities }}</textarea></div><div class="clear">&nbsp;</div>
 <hr/>
 <div class="left_edit">Beschrijving:&nbsp;</div>
 <div class="right"><textarea name="beschrijving" id="beschrijving" rows="8" cols="80" />{{ data.beschrijving }}</textarea></div><div class="clear">&nbsp;</div>
 <hr/>
</form><a href="#top">Naar het begin van de pagina</a>
{% endblock %}

