{%extends "base_app.html" %}
{% block content-data %}

<div class="left_view">Naam Project:&nbsp;</div>
<div class="right">{{ data.naam }}</div><div class="clear">&nbsp;</div>
<div class="left_view">Korte kenschets:&nbsp;</div>
<div class="right">{{ data.kort }}</div><div class="clear">&nbsp;</div>
<div class="left_view">Statistieken:&nbsp;<br/><br/></div>
<div class="right">
{{test_stats.0}} <a href="/{{ data.id }}/bevinding/">testbevindingen</a> {{test_stats.1}}<br/>
{{prob_stats.0}} <a href="/{{ data.id }}/userprob/">probleemmeldingen</a> {{prob_stats.1}}<br/>
{{wijz_stats.0}} <a href="/{{ data.id }}/userwijz/">wijzigingsaanvragen</a> {{wijz_stats.1}}<br/>
</div><div class="clear">&nbsp;</div>
<div class="left_view">&nbsp;</div>
<div class="right"><a href="/{{ data.id }}/edit/"><input type="button" value="wijzigen"/></a></div><div class="clear">&nbsp;</div>
<hr/>
<div class="left_view">Omschrijving:&nbsp;</div>
<div class="right"><br/><br/>{{ data.oms|linebreaksbr }}</div><div class="clear">&nbsp;</div>
<div class="left_view">Opstarten met:&nbsp;</div>
<div class="right">{{ data.start|urlize }}<br/></div><div class="clear">&nbsp;</div>
<div class="left_view">Source repository:&nbsp;</div>
<div class="right"><a href="{{ data.fysloc }}" target="_new">{{ data.fysloc }}</a>
{% if data.fysloc %}(link opent in nieuw venster){% endif %}<br/></div><div class="clear">&nbsp;</div>
<div class="left_view">Opmerkingen:&nbsp;</div>
<div class="right"><br/><br/>{{ data.status|linebreaksbr }}</div><div class="clear">&nbsp;</div>

 <br/>
{%endblock%}





