{% extends "base_app.html" %}
{% block content-data %}

 <div class="left_view">Naam:&nbsp;</div>
 <div class="right">{{ data.naam }}</div><div class="clear">&nbsp;</div>
 <div class="left_view">Doel:&nbsp;</div>
 <div class="right">{{ data.doel }}</div><div class="clear">&nbsp;</div>
 <div class="left_view">&nbsp;</div>
 <div class="right"><a href="/{{proj}}/{{soort}}/{{ data.id }}/edit/"><input type="button" value="wijzigen"/></a></div><div class="clear">&nbsp;</div>
 <hr/>
 <div class="left_view">Uitgangssituatie:&nbsp;</div>
 <div class="right"><br/><br/>{{ data.invoer|linebreaksbr }}</div><div class="clear">&nbsp;</div>
 <hr/>
 <div class="left_view">Resultaatsituatie:&nbsp;</div>
 <div class="right"><br/><br/>{{ data.uitvoer|linebreaksbr }}</div><div class="clear">&nbsp;</div>
 <hr/>
 <div class="left_view">Beschrijving:&nbsp;</div>
 <div class="right"><br/><br/>{{ data.beschrijving|linebreaksbr }}</div><div class="clear">&nbsp;</div>
 <hr/>
 <div class="left_view">Bijzonderheden:&nbsp;</div>
 <div class="right"><br/><br/>{{ data.omgeving|linebreaksbr }}</div><div class="clear">&nbsp;</div>
 <hr/>

{% endblock %}
