{% extends "base_app.html" %}
{% block content-data %}
 <form action="{{form_addr}}" method="post" >
 <div class="left_view">Naam:&nbsp;</div>
 <div class="right"><input type="text" name="naam" id="naam" value="{{ data.naam }}" size="{{lengte.naam}}" /></div><div class="clear">&nbsp;</div>
 <div class="left_edit">Korte omschrijving:&nbsp;</div>
 <div class="right"><input type="text" name="kort" id="kort" value="{{ data.kort }}" size="{{lengte.kort}}" /></div><div class="clear">&nbsp;</div>
  <div class="left_edit">&nbsp;</div>
 <div class="right"><input type="submit" name="pbKort" id="pbKort" value="Alle wijzigingen opslaan" /></div><div class="clear">&nbsp;</div>
 <hr/>
 <div class="left_edit">Doel:&nbsp;</div>
 <div class="right"><textarea name="doel" id="doel" rows="8" cols="80" />{{ data.doel }}</textarea></div><div class="clear">&nbsp;</div>
 <hr/>
 <div class="left_edit">Periodiciteit:&nbsp;</div>
 <div class="right"><textarea name="periode" id="periode" rows="8" cols="80" />{{ data.periode }}</textarea></div><div class="clear">&nbsp;</div>
 <hr/>
 <div class="left_edit">Beschijving van het verloop&nbsp;<br/>(sturing):&nbsp;</div>
 <div class="right"><textarea name="verloop" id="verloop" rows="8" cols="80" />{{ data.verloop }}</textarea></div><div class="clear">&nbsp;</div>
 <hr/>
 </form><a href="#top">Naar het begin van de pagina</a>
{% endblock %}
