{% extends "base_app.html" %}
{% block content-data %}

 <div class="left_view">Nummer:&nbsp;</div>
 <div class="right">{%if data%}{{ data.nummer }}{%else%}{{nummer}}{% endif %}
 <input type="hidden" name="datum_in" id="datum_in" value="{{ data.datum_in }}"/> </div><div class="clear">&nbsp;</div>
 <div class="left_view">Wens:&nbsp;</div>
 <div class="right">{{ data.wens }}</div><div class="clear">&nbsp;</div>
 <div class="left_view">Gereed:&nbsp;</div>
 <div class="right">{{data.gereed|yesno:"Ja,Nee"}}

 <input type="hidden" name="datum_gereed" id="datum_gereed" value="{{ data.datum_gereed }}"/></div><div class="clear">&nbsp;</div>
 <div class="left_view">&nbsp;</div>
 <div class="right">
 {% if not data.actie %}<a href="/{{proj}}/{{soort}}/{{ data.id }}/edit/">{% endif %}
 <input type="button" value="wijzigen"{% if data.actie %} disabled="disabled"{% endif %}/>
 {% if not data.actie %}</a>{% endif %}
 {% if data.wens and ar_proj%}
 <form action= "{{sites.probreg}}/{{ar_proj}}/koppel/" method="post" style="display:inline">
 {% csrf_token %}
 <input type="hidden" name="hFrom" value="{{sites.doctool}}/{{proj}}/userwijz/{{data.id}}/koppel/{0}/{1}/" />
 <input type="hidden" name="hUser" value="{{ ar_user }}" />
 <input type="hidden" name="hMeld" value="{{ data.wens }}" />
 <input type="hidden" name="hOpm" value="{{ data.toelichting|escape }}" />
 <input type="submit" name="pbDoor" id="pbDoor" value="Doorkoppelen naar actiereg"
 {% if data.actie or data.gereed %}disabled="disabled"{% endif %}/>{% endif %}
  </form>
 </div><div class="clear">&nbsp;</div>
  <hr/>
 <div class="left_view">Toelichting:&nbsp;</div>
 <div class="right"><br/><br/>{{ data.toelichting|linebreaksbr|escape }}</div><div class="clear">&nbsp;</div>
 <div class="left_view">Opmerkingen:&nbsp;</div>
 <div class="right"><br/><br/>{{ data.opmerkingen|linebreaksbr }}</div><div class="clear">&nbsp;</div>
 {% if data.actie %}
 <div class="left_view">Actie:&nbsp;</div>
 <div class="right"><a href="{{sites.probreg}}/{{ar_proj}}/{{ data.actie }}/" target="_new">{{data.actienummer}}</a>
    </div><div class="clear">&nbsp;</div>
 {% endif %}
 <hr/>

{% endblock %}
