{% extends "base_app.html" %}
{% block content-data %}
 <form action="{{form_addr}}" method="post" >
 <div class="left_view">Naam:&nbsp;</div>
 <div class="right"><input type="text" name="naam" id="naam" value="{{ data.naam }}" size="{{lengte.naam}}" /></div><div class="clear">&nbsp;</div>
 <div class="left_edit">Korte omschrijving:&nbsp;</div>
 <div class="right"><input type="text" name="kort" id="kort" value="{{ data.kort }}" size="{{lengte.kort}}" /></div><div class="clear">&nbsp;</div>
 <div class="left_edit">&nbsp;</div>
 <div class="right"><input type="submit" name="pbKort" id="pbKort" value="Alle wijzigingen opslaan" /></div><div class="clear">&nbsp;</div>
 <hr/>
 <div class="left_edit">Gewenste functionaliteit:&nbsp;</div>
 <div class="right"><textarea name="functie" id="functie" rows="8" cols="80" />{{ data.functie }}</textarea></div><div class="clear">&nbsp;</div>
 <hr/>
 <div class="left_edit">Gewenste vormgeving:&nbsp;</div>
 <div class="right"><textarea name="beeld" id="beeld" rows="8" cols="80" />{{ data.beeld }}</textarea></div><div class="clear">&nbsp;</div>
 <hr/>
 <div class="left_edit">Gewenst uitvoerproduct(en):&nbsp;</div>
 <div class="right"><textarea name="product" id="product" rows="8" cols="80" />{{ data.product }}</textarea></div><div class="clear">&nbsp;</div>
 <hr/>
 <div class="right"><div class="bold underline">Randvoorwaarden:</div></div><div class="clear">&nbsp;</div>
 <br/>
 <div class="left_edit">Wat moet het opleveren:&nbsp;</div>
 <div class="right"><input type="text" name="baten" id="baten" value="{{ data.baten }}" size="{{lengte.baten}}" /></div><div class="clear">&nbsp;</div>
 <div class="left_edit">Wat mag het kosten:&nbsp;</div>
 <div class="right"><input type="text" name="kosten" id="kosten" value="{{ data.kosten }}" size="{{lengte.kosten}}" /></div><div class="clear">&nbsp;</div>
 <div class="left_edit">Overige zaken:&nbsp;</div>
 <div class="right"><textarea name="opmerkingen" id="opmerkingen" rows="8" cols="80" />{{ data.opmerkingen }}</textarea></div><div class="clear">&nbsp;</div>
 <hr/>
 </form><a href="#top">Naar het begin van de pagina</a>
{% endblock %}
