{% extends "base_app.html" %}
{% block content-data %}

 <div class="left_view">Naam:&nbsp;</div>
 <div class="right">{{ data.naam }}</div><div class="clear">&nbsp;</div>
 <div class="left_view">Doel:&nbsp;</div>
 <div class="right">{{ data.doel }}</div><div class="clear">&nbsp;</div>
<div class="left_view">&nbsp;</div>
 <div class="right"><a href="/{{proj}}/{{soort}}/{{ data.id }}/edit/"><input type="button" value="wijzigen"/></a></div><div class="clear">&nbsp;</div>
 <hr/>
 <div class="left_view">Wanneer/hoe vaak uitvoeren:&nbsp;</div>
 <div class="right"><br/><br/>{{ data.wanneer|linebreaksbr }}</div><div class="clear">&nbsp;</div>
 <hr/>
 <div class="left_view">Wie mag/moet dit uitvoeren:&nbsp;</div>
 <div class="right"><br/><br/>{{data.wie|linebreaksbr}}</div><div class="clear">&nbsp;</div>
 <hr/>
 <div class="left_view">Waarvoor dient het uitvoeren:&nbsp;</div>
 <div class="right"><br/><br/>{{ data.waarvoor|linebreaksbr }}</div><div class="clear">&nbsp;</div>
 <hr/>
 <div class="left_view">Onder welke voorwaarden:&nbsp;</div>
 <div class="right"><br/><br/>{{ data.condities|linebreaksbr }}</div><div class="clear">&nbsp;</div>
 <hr/>
 <div class="left_view">Beschrijving:&nbsp;</div>
 <div class="right"><br/><br/>{{ data.beschrijving|linebreaksbr }}</div><div class="clear">&nbsp;</div>
 <hr/>

{% endblock %}

