{% extends "base_app.html" %}
{% block content-data %}

 <div class="left_view">Naam:&nbsp;</div>
 <div class="right">{{ data.naam }}</div><div class="clear">&nbsp;</div>
 <div class="left_view">Korte omschrijving:&nbsp;</div>
 <div class="right">{{ data.kort }}</div><div class="clear">&nbsp;</div>
 <div class="left_view">&nbsp;</div>
 <div class="right"><a href="/{{proj}}/{{soort}}/{{ data.id }}/edit/"><input type="button" value="wijzigen"/></a></div><div class="clear">&nbsp;</div>
 <hr/>
 <div class="left_view">Gewenste functionaliteit:&nbsp;</div>
 <div class="right"><br/><br/>{{ data.functie|linebreaksbr }} </div><div class="clear">&nbsp;</div>
 <hr/>
 <div class="left_view">Gewenste vormgeving:&nbsp;</div>
 <div class="right"><br/><br/>{{ data.beeld|linebreaksbr }} </div><div class="clear">&nbsp;</div>
 <hr/>
 <div class="left_view">Gewenst uitvoerproduct(en):&nbsp;</div>
 <div class="right"><br/><br/>{{ data.product|linebreaksbr }} </div><div class="clear">&nbsp;</div>
 <hr/>
 <div class="right"><div class="bold underline">Randvoorwaarden:</div></div><div class="clear">&nbsp;</div>
 <br/>
 <div class="left_view">Wat moet het opleveren:&nbsp;</div>
 <div class="right">{{ data.baten }}</div><div class="clear">&nbsp;</div>
 <div class="left_view">Wat mag het kosten:&nbsp;</div>
 <div class="right">{{ data.kosten }}</div><div class="clear">&nbsp;</div>
 <div class="left_view">Overige zaken:&nbsp;</div>
 <div class="right"><br/><br/>{{ data.opmerkingen|linebreaksbr }}</div><div class="clear">&nbsp;</div>
 <hr/>

{% endblock %}
